.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80%;
    grid-auto-rows: 200px;
    align-items: start; 
    gap: 30px; 
    padding: 10px; 
    background-color: #f9f9f9; 
}

.home-nft-card {
    display: flex;
    border: 2px solid #ddd; 
    padding: 10px; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    transition: 0.3s; 
}

.home-nft-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

.home-nft-image {
    width: 100%;
    flex: 2;
    margin: 0 10px;
}

.home-nft-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.home-nft-info {
    flex: 0.8;
    padding: 20px;
    padding-left: 40px;
    font-size: larger;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.home-nft-info h3 {
    font-size: 24px;
    color: #333; 
}

.home-nft-info p {
    color: #666; 
}